html {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightgray;
}

body {
    border: 5px solid black;
    border-radius: 10px;
    margin: 5%;

    width: 350px;
    height: 500px;

    display: flex;
    flex-direction: column;

    filter: drop-shadow(15px 10px 5px darkorange);
    background-color: darkgray;
}

button {
    border-radius: 10px;
}


#display {
    border: 3px solid;
    border-radius: 5px;

    height: 100px;
    margin: 5px;


    font-size: 72px;
}

.input-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    flex: 1;

    margin: 3px;
}

.operator-btns {
    display: flex;
    flex-wrap: wrap;

    /* border: 2px solid; */
    margin: 3px;

}

.operator-btns #numpad {
    height: 75px;
    width: 100%;
}

.number-btns {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    /* border: 2px solid; */
    margin: 3px;
}

.number-btns #numpad {
    height: 75px;
    width: 33%;
}

.display-update-btns {
    display: flex;
    justify-content: flex-end;

    width: 100%;

    /* border: 2px solid; */
    margin: 3px 9px;
}

.display-update-btns #numpad {
    height: 75px;
    width: 50%;
}

.display-update-btns .accent {
    background-color: darkorange;
}